:root {
	--best-padding:0.5em 0;
	--header-height:3em;
	--footer-height:4em;
	--color-primary:#FFD200;
	--color-yellow:#FFBA06;
	--color-green:#9DCD9C;
	--color-pink:#ECC4C5;
	--color-blue:#7692FF;
	--color-light-blue:#6DB8F9;
	--color-purple:#5B53FF;
	--color-black:#141413;
	--color-dark-grey:#8F8F8F;
	--color-grey:#D3D9E0;
	--color-white:#FFFFFF;
    --form-iput-padding: 30px 0 5px 0;
    --button-radius: 100px;
}

.hero-section {
	width: 100vw;
	position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.hero-image-01 {
	width: 100%;
	height: 600px;
	background: url(../img/foodkeeper/cover-image@2x.jpg) center center no-repeat;
	background-size: cover;
}

.hero-image-02 {
	width: 100%;
	height: 600px;
	background: url(../img/minditation/cover-image@2x.jpg) center center no-repeat;
	background-size: cover;
}

.hero-image-03 {
	width: 100%;
	height: 600px;
	background: url(../img/funspot/cover-image@2x.jpg) center center no-repeat;
	background-size: cover;
}

.hero-image-04 {
	width: 100%;
	height: 600px;
	background: url(../img/doggo/cover-image@2x.jpg) center center no-repeat;
	background-size: cover;
}

.hero-image-05 {
	width: 100%;
	height: 600px;
	background: url(../img/graciasmadre/cover-image@2x.jpg) center center no-repeat;
	background-size: cover;
}

.hero-image-06 {
	width: 100%;
	height: 600px;
	background: url(../img/titlesequence/cover-image@2x.jpg) center center no-repeat;
	background-size: cover;
}

.hero-image-07 {
	width: 100%;
	height: 600px;
	background: url(../img/wish/cover-image@2x.jpg) center center no-repeat;
	background-size: cover;
}

.project-subtitle {
	color: var(--color-purple);
	font-family: 'IBM Plex Sans', sans-serif;
}

.user-flow-image {
	width: 40%;
}

.mobile-app,
.mobile-app-cover {
	width: 320px;
	height: 600px;
	border-width: 0;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
}


/*highlight for each project based on their colors*/
.learn-01 {
    color: var(--color-purple);
}

.learn-02 {
    color: var(--color-blue);
}

.learn-03 {
    color: var(--color-yellow);
}

.learn-04 {
    color: var(--color-light-blue);
}

.learn-05 {
    color: var(--color-green);
}

.learn-06 {
    color: var(--color-pink);
}

/*different color on the tabs based on the project*/

/*Project 1*/
.tabgroup .tab-01.active {
    border-bottom: 3px solid var(--color-purple);
}

.tabgroup .tab-01:hover {
    background-color: var(--color-purple);
}

.tabgroup .contentlist-01 {
    border-top: 2px solid var(--color-purple);
}

/*Project 2*/
.tabgroup .tab-02.active {
    border-bottom: 3px solid var(--color-blue);
}

.tabgroup .tab-02:hover {
    background-color: var(--color-blue);
}

.tabgroup .contentlist-02 {
    border-top: 2px solid var(--color-blue);
}

/*Project 3*/
.tabgroup .tab-03.active {
    border-bottom: 3px solid var(--color-yellow);
}

.tabgroup .tab-03:hover {
    background-color: var(--color-yellow);
}

.tabgroup .contentlist-03 {
    border-top: 2px solid var(--color-yellow);
}

/*Project 4*/
.tabgroup .tab-04.active {
    border-bottom: 3px solid var(--color-light-blue);
}

.tabgroup .tab-04:hover {
    background-color: var(--color-light-blue);
}

.tabgroup .contentlist-04 {
    border-top: 2px solid var(--color-light-blue);
}
